	<div class="title"><span class="title_icon"><img src="/images/bullet1.gif" alt="" title="" /></span><%= @product.name %></div>
 	<div class="product_details">
	
		<div class="product_photos">
			<div class="main_photo">
				<%=image_link_to_zoom @product %>
			</div>
			<ul class="other_photos">
			<% @product.photos.each_with_index do |photo,i| %>
				<%=raw "<li>#{thumb_link_to_zoom(photo.data)}</li>" unless i == 0 %>
			<% end %>
			</ul>
		</div>

		<div class="product_information simpleCart_shelfItem">
			<p class="price">
<% if @product.list_price.present? %>
				<span class="list_price"><%= number_to_currency(@product.list_price) %></span>
<% end %>
				<span class="item_price"><%= number_to_currency(@product.price) %></span>
			</p>
			<p class="qtd">
				Qtd:<input type="text" class="item_quantity" value="1" size="1" />
				<input type="button" class="item_add button" value="adicionar ao carrinho »" />
			</p>
			<input type="hidden" class="item_name" value="<%= @product.name %>" />
			<input type="hidden" class="item_size" value="<%= @product.weight %>" />
			<%=simple_format @product.description %>
		</div>    
		<div class="clear"></div>
	</div>	
      
        

