<!DOCTYPE html>
<html>
	<head>
		<title>m-store</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
		<%= javascript_include_tag "simpleCart" %>
		<%= javascript_include_tag "simpleCart.config" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="wrap">
	    <div class="header">
	    	<div class="logo">
					<a href="/"><img src="images/logo.gif" alt="" title="" border="0" /></a>
				</div>            
				<div id="menu">
	      	<ul>                                                                       
	        	<li><a href="/">Início</a></li>
						<li><a href="about">Sobre a loja</a></li>
						<li><a href="products">Produtos</a></li>
						<li><a href="specials">Pedidos personalizados</a></li>
						<li><a href="cart">Meu carrinho</a></li>
						<li><a href="contact">Contato</a></li>
	      	</ul>
				</div>     
			</div>
			<div class="center_content">
				<div class="left_content">
					<%= yield %>	
	        <div class="clear"></div>
        </div>

        <div class="right_content">
					<div class="cart">
						<div class="title"><span class="title_icon"><img src="images/cart.gif" alt="" title="" /></span>Meu carrinho</div>
		        <div class="home_cart_content">
							<span class="red">Total: <span class="simpleCart_total"></span></span>
						</div>
		        <a href="cart.html" class="view_cart">ver carrinho</a>
					</div>
					<div class="title">
						<span class="title_icon"><img src="images/bullet3.gif" alt="" title="" /></span>About Our Shop
					</div> 
					<div class="about">
						<p>
							<img src="images/about.gif" alt="" title="" class="right" />
		          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						</p>
					</div>
					<div class="right_box">
						<div class="title"><span class="title_icon"><img src="images/bullet4.gif" alt="" title="" /></span>Promotions</div> 
						<div class="new_prod_box">
							<a href="details.html">product name</a>
							<div class="new_prod_bg">
								<span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
								<a href="details.html"><img src="images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
							</div>
						</div>
					</div>
					<div class="right_box">
						<div class="title">
							<span class="title_icon"><img src="images/bullet5.gif" alt="" title="" /></span>Categories
						</div>
						<ul class="list">
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>
							<li><a href="#">hollidays gifts</a></li>
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>
							<li><a href="#">hollidays gifts</a></li>
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>                                              
						</ul>
						
						<div class="title">
							<span class="title_icon"><img src="images/bullet6.gif" alt="" title="" /></span>Partners
						</div>
						<ul class="list">
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>
							<li><a href="#">hollidays gifts</a></li>
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>
							<li><a href="#">hollidays gifts</a></li>
							<li><a href="#">accesories</a></li>
							<li><a href="#">flower gifts</a></li>
							<li><a href="#">specials</a></li>                                              
						</ul>      
					</div>         
				</div>      
				<div class="clear"></div>
			</div>
			<div class="footer">
				<div class="left_footer">
					<img src="images/footer_logo.gif" alt="" title="" /><br /> <a href="http://csscreme.com/freecsstemplates/" title="free templates"><img src="images/csscreme.gif" alt="free templates" title="free templates" border="0" /></a>
				</div>
				<div class="right_footer">
					<a href="#">home</a>
					<a href="#">about us</a>
					<a href="#">services</a>
					<a href="#">privacy policy</a>
					<a href="#">contact us</a>
				</div>
			</div>
		</div>
	</body>
</html>